<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerIMG</servlet-name>
        <servlet-class>Controller.ControllerIMG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controller.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIMG</servlet-name>
        <servlet-class>Controller.ImagenDispositivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSeries</servlet-name>
        <servlet-class>Controller.ControladorSeries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImagenSeries</servlet-name>
        <servlet-class>Controller.ImagenSeries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSkin</servlet-name>
        <servlet-class>Controller.ControladorSkin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImagenSkin</servlet-name>
        <servlet-class>Controller.ImagenSkin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerIMG</servlet-name>
        <url-pattern>/ControllerIMG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIMG</servlet-name>
        <url-pattern>/ControladorIMG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSeries</servlet-name>
        <url-pattern>/ControladorSeries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImagenSeries</servlet-name>
        <url-pattern>/ImagenSeries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSkin</servlet-name>
        <url-pattern>/ControladorSkin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImagenSkin</servlet-name>
        <url-pattern>/ImagenSkin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
