<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Validar</servlet-name>
        <servlet-class>Controller.Validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controller.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validacion</servlet-name>
        <servlet-class>Controller.Validacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedorController</servlet-name>
        <servlet-class>Controller.ProveedorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialController</servlet-name>
        <servlet-class>Controller.MaterialController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeptoController</servlet-name>
        <servlet-class>Controller.DeptoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaController</servlet-name>
        <servlet-class>Controller.LimitadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispositivoController</servlet-name>
        <servlet-class>Controller.DispositivoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsumosController</servlet-name>
        <servlet-class>Controller.FacInsumosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerTest</servlet-name>
        <servlet-class>Controller.ControllerTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkinController</servlet-name>
        <servlet-class>Controller.SkinController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Validar</servlet-name>
        <url-pattern>/Validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validacion</servlet-name>
        <url-pattern>/Validacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedorController</servlet-name>
        <url-pattern>/ProveedorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialController</servlet-name>
        <url-pattern>/MaterialController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeptoController</servlet-name>
        <url-pattern>/DeptoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaController</servlet-name>
        <url-pattern>/CategoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispositivoController</servlet-name>
        <url-pattern>/DispositivoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsumosController</servlet-name>
        <url-pattern>/InsumosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerTest</servlet-name>
        <url-pattern>/ControllerTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkinController</servlet-name>
        <url-pattern>/SkinController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
